header {
    border-bottom: solid rgb(37, 125, 224) 1px;

}

h1 {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
}

body {
    background: white;
}

.container {
    width: 90%;
    margin-top: 10%;
    text-align: center;
}

.btn {
    clear: both;
    padding: 15px;
    margin: 2%;
    border: solid rgb(37, 125, 224) 1px;
    border-radius: 15px;
    color: rgb(37, 125, 224);
}

.portfoliopic {
    margin: 25px;
}

img {
    border: rgb(37, 125, 224) 1px solid 2px;
}

.label {
    bottom: 1px;
    color: black;
}
